/*PÁGINA DE PERFIS - NETFLIX*/

* {
    box-sizing: border-box;
}

body {
    background: #141414;
}

.caixa {
    width: 940px;
    margin: auto;
    padding: 10% 0;
}

.titulo {
    font-family:'Arial';
    text-align: center;
    color: #ffffff;
    font-size: 54px;
    margin-bottom: 30px;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1.5%;
    text-align: center;
}

.imagem {
    width: 170px;
    height: auto;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #868484;
    font-family: 'arial';
    font-size: 20px;
}
